<ion-header [translucent]="true">
  <ion-toolbar  color="background">
    <ion-title>
      Admin Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-devider>
    <ion-label>Customer orders</ion-label>
  </ion-devider>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Order ID: 32534</ion-card-title>
    <ion-card-subtitle>Order Date: 08 December 2020</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>

    <ion-devider>
      
        <ion-card-title style="margin-left: 0px;">Order Details</ion-card-title>
    </ion-devider>
    
     <ion-item-group>
            <ion-grid>
              <ion-row>
                <ion-col><b>Item ID: 344</b></ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Quantity: 4</ion-col>
              </ion-row>

              <ion-row>
                <ion-col>Total Price: R344</ion-col>
              </ion-row>

              <ion-row>
                <ion-col>Product Name: Pizza</ion-col>
              </ion-row>

              <ion-row>
                <ion-col>Unit Price: 100</ion-col>
              </ion-row>

            </ion-grid>
        </ion-item-group>

         <ion-devider>
      
        <ion-card-title style="margin-left: 0px;">Customer Info</ion-card-title>

        <ion-grid>
              <ion-row>
                <ion-col>Phone Number: 0334343</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Physical Address : 2332 Madiba Pretoria</ion-col>
              </ion-row>
          </ion-grid>
    </ion-devider>
  </ion-card-content>
  
  
  <ion-list>
  <ion-radio-group value="p" >
    <ion-list-header>
      <ion-label>
        Order Status
      </ion-label>
    </ion-list-header>

    <ion-item >
      <ion-label>On Progress</ion-label>
      <ion-radio (click)="upadeStatus('p')"  value="p"></ion-radio>
    </ion-item>

    <ion-item >
      <ion-label>Ready to be deliverd</ion-label>
      <ion-radio  value="r" (click)="upadeStatus('r')"></ion-radio>
    </ion-item>

    <ion-item >
      <ion-label>Deliverd</ion-label>
      <ion-radio (click)="upadeStatus('d')"  value="d"></ion-radio>
    </ion-item>
    </ion-radio-group>
</ion-list>

<ion-button>Delete order</ion-button>
</ion-card>


</ion-content>
